################################################################################
# ignore mac os x and windows files
################################################################################

Thumbs.db
.DS_Store
~\$*

################################################################################
# ignore other files here
################################################################################



################################################################################
# not ignore .gitignore
################################################################################

!.gitignore