################################################################################
# ignore mac os x and windows files
################################################################################

Thumbs.db
.DS_Store
~\$*

################################################################################
# ignore other files here
################################################################################

npm-debug.log
node_modules
.kube
*.local.yml
*.local.yaml
.vscode
acsengine.mo
acsengine.po

################################################################################
# not ignore .gitignore
################################################################################

!.gitignore