doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
  
  body
    block content
